<header *ngIf="show.includes(count$ | async)">
  <nav class="navbar navbar-expand">
    <div class="container">
      <a class="navbar-brand" href="#">
        <img src="../assets/logo.png" alt="">
      </a>
      <div class="collapse navbar-collapse me-auto" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <form *ngIf="(count$ | async) === 'signup' || ''">
            <button class="btn signin_btn btn-danger" (click)="signIn()" type="submit">Sign In</button>
          </form>
        </ul>
      </div>
    </div>
  </nav>
</header>

<header id="second-header"  class="second-header" *ngIf="!show.includes(count$ | async)">
  <div class="netflixLogo">
    <a id="logo" [routerLink]="['home']"><img src="../../../../assets/logo.png" alt="Logo Image"></a>
  </div>      
  <nav id="first-nav" class="main-nav">                
    <a [routerLink]="['home']">Home</a>
    <a [routerLink]="['tvshow']">TV Shows</a>
    <a [routerLink]="['movies']">Movies</a>
    <a [routerLink]="['new&popular']">New & Popular</a>
    <a [routerLink]="['mylist']">My List</a>
  </nav>
  <nav id="second-nav" class="sub-nav d-flex align-items-center">
    <a [routerLink]=""><i class="fas fa-search sub-nav-logo"></i></a>
    <a [routerLink]=""><i class="fas fa-bell sub-nav-logo"></i></a>
    <div class="dropdown">
      <button class="btn dropdown-button dropdown-toggle" disabled type="button" data-bs-toggle="dropdown" aria-expanded="false">
        <img src="../../../../assets/dropdown-img.png" alt="">
      </button>
      <ul class="dropdown-menu dropdown-menu-dark">
        <li><a class="dropdown-item active" [routerLink]=""><i class="fa-solid fa-pencil"></i>Manage Profiles</a></li>
        <li><a class="dropdown-item" [routerLink]=""><i class="fa-solid fa-arrow-up-right-from-square"></i>Exit Profile</a></li>
        <li><a class="dropdown-item" [routerLink]=""><i class="fa-regular fa-address-card"></i>Transfer Profile</a></li>
        <li><a class="dropdown-item" [routerLink]=""><i class="fa-regular fa-user"></i>Account</a></li>
        <li><a class="dropdown-item" [routerLink]=""><i class="fa-regular fa-circle-question"></i>Help Center</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" (click)="logOut()">Sign out of Netflix</a></li>
      </ul>
    </div>
  </nav>      
</header>