.second-header {
  padding: 3px 20px 0 20px;
  position: fixed;
  top: 0;
  display: grid;
  grid-gap: 5px;
  grid-template-columns: 0fr 4fr 1fr;
  grid-template-areas: 'nt mn mn sb . . . ';
  width: 100%;
  margin-bottom: 0px;
}
.dark-header {
  background-image: linear-gradient(180deg, rgb(0 0 0 / 90%) 100%, transparent);
}
.netflixLogo {
  grid-area: nt;
  object-fit: cover;
  width: 100px;
  max-height: 100%;

  padding-left: 30px;
  padding-top: 0px;
}

.netflixLogo img {
  height: 62px;
}

#logo {
  color: #e50914;
  margin: 0;
  padding: 0;
}

.main-nav {
  grid-area: mn;
  padding: 20px 30px 0 40px;
}

.main-nav a {
  color: var(--light);
  transition: color 0.4s;
  color: #e5e5e5;
  align-items: center;
  font-size: 14px;
  padding-left: 14px;
  font-weight: 300;
  text-decoration: none;
  margin: 5px;
  color: #ffffff;
}

.main-nav a:hover {
  color: #b3b3b3;
}

.sub-nav {
  grid-area: sb;
  padding: 4px 20px 0 0;
}

.sub-nav a {
  color: var(--light);
  text-decoration: none;
  margin: 5px;
  color: #ffffff;
}
/* ////////////////////////////////////////////////////////////////////////////////////////////////////// */

header {
  z-index: 10 !important;
  position: absolute;
  height: 68px;
  width: 100%;
}
.navbar .navbar-brand img {
  height: 68px;
  width: 132.2px;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.signin_btn {
  color: white !important;
  background-color: rgb(229, 10, 19) !important;
  border-radius: 3px;
}

.dropdown-toggle::after{
  color: #ffffff;
  transition: transform 0.2s ease-in-out;
}
.dropdown-toggle::after:hover{
  transform: rotate(360deg);
}
.dropdown button{
  border: none;
}
.dropdown:hover ul.dropdown-menu{
  display: block;
}
.dropdown .dropdown-menu{
  position: absolute;
  right: 34%;
  top: 86%;
  border-radius: 0;
  padding: 10px;
  background-color: rgb(0,0,0,0.8);
}
.dropdown .dropdown-menu li a{
  font-size: 14px;
  cursor: pointer;
}
.dropdown .dropdown-menu img {
  width: 115px;
  height: 66px;
}
.dropdown .notification_dropdown{
  padding: 0;
}
.notification_dropdown{
  width: 400px;
}
.notification_dropdown a:hover{
  background: none;
}
.dropdown .notification_dropdown li:hover{
  background: rgba(0, 0, 0, 0.9);
  overflow: hidden;
}
.dropdown .dropdown-menu-dark{
  padding: 0;
  width: 200px;
}
.dropdown .dropdown-menu-dark li {
  overflow: hidden;
}
.dropdown .dropdown-menu-dark li a:hover{
  background: none;
}
.dropdown .dropdown-menu-dark li a:hover span{
  text-decoration: underline;
}
.dropdown .dropdown-menu-dark li a{
  display: flex;
  align-items: center;
} 
.dropdown .dropdown-menu-dark i {
  font-size: 20px;
  padding-right: 10px;
}
.dropdown .dropdown-menu-dark .menu-text {
  display: inline-block; 
}
.dropdown .dropdown-menu-dark span{
  font-weight: 300;
}
.dropdown hr {
  height: 1px;
  background-color: rgb(79, 79, 79);
}
 .search {
	 right: 180px;
	 position: absolute;
	 display: inline-block;
}
 .search input {
	 width: 0px;
	 height: 34px;
	 background-color: transparent;
	 box-shadow: none;
	 color: #fff;
	 border: 1px solid transparent;
	 outline: none;
	 padding-left: 35px;
	 font-size: 16px;
	 transition: 0.3s ease all;
}
 .search input.toggle {
	 width: 240px;
   background-color: #000;
	 border-color: #fff;
}
.search i {
  color: #ffffff;
  width: 18px;
  left: 8px;
	top: 12%;
  padding: 0 32px 10px 10px;
  cursor: pointer;
	transform: translateY(18%);
	position: absolute;
}
/* ///////////////////////////////////////// modal ///////////////////////////////////////////// */

.modal-body{
  height: auto;
  padding: 0;
}
.modal-background-img{
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 0;
  height: 400px;
}
.modal-body .overlay{
  background: linear-gradient(0deg,#181818,transparent 50%);
  height: 101%;
}
.modal-body .height-controll{
  display: flex;
  align-items: center;
  height: calc(400px - -150px);
}
.modal-body h1{
  color: #fff;
  font-size: xxx-large;
  font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
  font-weight: 900;
  width: 600px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.modal-body .button-controlls{
  padding: 25px 50px;
  height: calc(400px - 200px);
}
.modal-body .btn-icon{
  display: flex;
  align-items: center;
  padding-top: 40px;
}
.btn-icon .btn:first-child{
  margin-right: 15px;
}
.btn-icon .icon:nth-child(2){
  margin-right: 15px;
}
.card-body i{
  border: 1px solid;
  border-radius: 50px;
  padding: 5px;
  font-size: 14px;
  cursor: pointer;
  margin-right: 10px;
}
.modal-body i {
  border: 2px solid;
  border-radius: 50px;
  padding: 5px;
  font-size: 22px;
  cursor: pointer;
  margin-right: 10px;
}
.modal-body i:hover{
  border-color: #fff;
}
.card-body i:hover{
  border-color: #fff;
}
.modal-body .button-controlls button{
  color: black;
  background-color: #fff;
  padding: 3px 30px;
}
.modal-body .button-controlls button i{
  border: 0;
  margin: 0 !important;
}
.modal-body .section-2{
  background: #181818;
}
.modal-body .section-2 .first-line{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  color: #46d369;
}
.modal-body .section-2 .second-line{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  color: #fff;
}
.section-2 .second-line a {
  border: 1px solid hsla(0,0%,100%,.4);
  font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
  overflow: hidden;
  padding: 0 0.4em;
  text-overflow: ellipsis;
  text-transform: uppercase;
  unicode-bidi: normal /*!rtl:plaintext*/;
  white-space: nowrap;
  text-decoration: none;
  color: #fff;
}
.modal-body .button-controlls i{
  color: gray;
}
.modal-body .detail-content{
  padding: 0 33px;
}
.modal-body .detail-content p{
  color: #fff;
  font-size: 16px;
  font-weight: 300;
  line-height: 26px;
  font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
}
.modal-body .detail-content-right p{
  color:#777;
}
.modal-body .detail-content-right a{
  color: #fff !important;
}


@media (max-width: 480px) {
  .container {
    height: 60px;
    margin: 0 1%;
  }
  .navbar-brand img {
    height: 73px !important;
    width: 93% !important;
    padding-top: 0.5rem;
    margin-bottom: 10px;
  }
  .signin_btn {
    font-size: 0.9rem;
    margin-top: 0.35rem;
    padding: 0.25rem 0.5rem;
    font-weight: 400;
    line-height: normal;
  }
}

