@import "~swiper/swiper-bundle.min.css";
.background-img{
  height: 720px;
  background-image: url('../../../../assets/movie-screen-background.webp');
}
.overlay{
  background: rgba(0,0,0,.4);
  background-image: linear-gradient(0deg,rgba(0,0,0,.8) 0,transparent 60%,rgba(0,0,0,.8)); 
  height: 100%; 
}
.col-md-3 {
  flex: 0 0 auto;
  width: 18.666667%;
}
.main-top-movies{
  /* position: absolute; */
  padding: 68px 68px 30px 58px;
  display: flex;
  align-items: center;
  height: calc(720px - -1027px);
  /* overflow: hidden; */
}
/* .top-movies{
  position: relative;
  overflow: hidden;
} */
.swiper{
  overflow:hidden;
  padding-bottom: 20px;
  padding-top: 20px;
}
.swiper-button-next{
  padding-left: 50px;
    right: 10px;
    left: auto;
    top: 57px;
    width: 130px;
    height: 140px;
}
.swiper-button-prev{
  height: 140px;
  left: 0;
  right: 0;
  top: 57px;
  width: 115px;
  padding-right: 0px;
}
.swiper-pagination-bullet{
  display: none;
}
.swiper-button-next:after, .swiper-rtl .swiper-button-prev:after {
  content: 'next';
  color: gray;
}
.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after {
  content: 'prev';
  color: gray;
}
.swiper-slide{
  /* position:; */
  position: static;
  width: 235px !important;
}
p{
  margin-bottom: 0 !important;
  padding-top: 20px;
  color: #fff;
}
  .wrapper {
    margin: 0;
    padding: 0;
  }
  
  /* MAIN CONTIANER */
  /* .main-container {
    padding-top: 50px;
    padding-left: 50px;
    padding-bottom: 50px;
    background-color: #141414;
    border-bottom: 8px solid #222;
    color: #fff;
  } */
  .card {
    height: 200px;
    border: none;
  transition: transform 1s;
  background: transparent;
  }
  .card .card-body {
    visibility: hidden;
  }
  .card:hover {
    /* height: auto; */
    transition-delay: 1s !important;
    transform: scale(1.4);
    transition: 0.5s;
    z-index: 9 !important;
    background: rgb(16, 16, 11);
  }
  .card .card-img-top {
    width: 130px;
    height: 170px;
  }
  .card:hover .card-body {
    transition-delay: 0.9s;
    z-index: 9 !important;
    background: rgb(16, 16, 11);
    visibility: visible;
  }
  .card:hover .card-img-top {
    width: 303px;
    height: 202px;
  }
  .card .number-img{
    height: 145px;
  }
  .card:hover .number-img {
    display: none;
  }
  .card-body i {
    color:#f3f3f3;
    padding-right: 5px;
    font-size: x-large;
    padding-top: 10px;
    cursor: pointer;
  }
  .card-body i:first-child{
    padding-left: 10px;
  }
  .card-body i{
    padding-left: 5px;
    color: gray;
  }
  .active {
    fill: #f00;
  }
  .card-body p{
    color: #f3f3f3;
    font-size:x-small;
    padding-left: 12px;
    padding-top: 5px;
  }
  .second-child{
    padding:410px 0px 30px 68px;;
  }
.second-card{
  width: 220px;
}
.second-card {
  transition: transform 1s;
}
.second-card:hover {
  transition-delay: 1s;
  transform: scale(1.4);
  z-index: 9 !important;
  background: black;
}
.second-card:hover .card-body {
  transition-delay: 0.9s;
  z-index: 9 !important;
  background: rgb(16, 16, 11);
  visibility: visible;
}
  .second-card-img{
    width: 232px;
    height: 131px;
  }
.modal-body{
  height: auto;
  padding: 0;
  background-color: #141414;
}
.modal-background-img{
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 0;
  height: 400px;
}
.modal-overlay{
  /* background: rgba(0,0,0,.4);
  background-image: linear-gradient(0deg,rgba(0,0,0,.8) 0,transparent 90%,rgba(0,0,0,.8));  */
  height: 100% !important; 
}
.modal-body .height-controll{
  display: flex;
  align-items: center;
  height: calc(400px - -150px);
}
.modal-body h1{
  color: #fff;
  font-size: xxx-large;
  font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
  font-weight: 900;
}
.modal-body .button-controlls{
  padding: 25px 50px;
  height: calc(400px - 200px);
}
.modal-body .btn-icon{
  display: flex;
}
.modal-body .button-controlls button{
  color: black;
  background-color: #fff;
  padding: 3px 30px;
}
.modal-body .button-controlls i{
  color: gray;
}
.modal-body .detail-content{
  padding: 25px 50px;
}
.modal-body .detail-content p{
  color: #fff;
  font-size: 16px;
  font-weight: 300;
  line-height: 26px;
  font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
}
  /* LINKS */
  .link {
    padding: 50px;
  }
  
  .sub-links ul {
    list-style: none;
    padding: 0;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(4, 1fr);
  }
  
  .sub-links a {
    color: var(--dark);
    text-decoration: none;
  }
  
  .sub-links a:hover {
    color: var(--dark);
    text-decoration: underline;
  }
  
  .logos a{
    padding: 10px;
  }
  
  .logo {
    color: var(--dark);
  }
  
  /* MEDIA QUERIES */
  
  @media(max-width: 900px) {
  
    header {
      display: grid;
      grid-gap: 20px;
      grid-template-columns: repeat(2, 1fr);
      grid-template-areas: 
      "nt nt nt  .  .  . sb . . . "
      "mn mn mn mn mn mn  mn mn mn mn";
    }
  
    .a-box {
      display: grid;
      grid-gap: 20px;
      grid-template-columns: repeat(4, minmax(100px, 1fr));
    }
  
  }
  
  @media(max-width: 700px) {
  
    header {
      display: grid;
      grid-gap: 20px;
      grid-template-columns: repeat(2, 1fr);
      grid-template-areas: 
      "nt nt nt  .  .  . sb . . . "
      "mn mn mn mn mn mn  mn mn mn mn";
    }
  
    .a-box {
      display: grid;
      grid-gap: 20px;
      grid-template-columns: repeat(3, minmax(100px, 1fr));
    }
  
    .sub-links ul {
      display: grid;
      grid-gap: 20px;
      grid-template-columns: repeat(3, 1fr);
    }
     
  }
  
  @media(max-width: 500px) {
  
    .wrapper {
      font-size: 15px;
    }
  
    header {
      margin: 0;
      padding: 20px 0 0 0;
      position: static;
      display: grid;
      grid-gap: 20px;
      grid-template-columns: repeat(1, 1fr);
      grid-template-areas: 
      "nt"    
      "mn"
      "sb";
      text-align: center;
    }
  
    .netflixLogo {
      max-width: 100%;
      margin: auto;
      padding-right: 20px;
    }
  
    .main-nav {
      display: grid;
      grid-gap: 0px;
      grid-template-columns: repeat(1, 1fr);
      text-align: center;
    }
    .a-box {
      display: grid;
      /* grid-gap: 20px; */
      grid-template-columns: repeat(1, 1fr);
      text-align: center;    
    }
  
    /* .box a:hover {
      transition: transform .3s;
      -ms-transform: scale(1);
      -webkit-transform: scale(1);  
      transform: scale(1.2);
    }
   */
    .logos {
      display: grid;
      grid-gap: 20px;
      grid-template-columns: repeat(2, 1fr);
      text-align: center;
    }
  
    .sub-links ul {
      display: grid;
      grid-gap: 20px;
      grid-template-columns: repeat(1, 1fr);
      text-align: center;
      font-size: 15px;
    }

  }