<!-- <div class="background-img"></div> -->
<section class="main-container">
  <div class="location" id="home">
    <p id="home">Continue watching</p>
    <swiper
    [slidesPerView]="5"
    [spaceBetween]="0"
    (swiper)="onSwiper($event)"
    (slideChange)="onSlideChange()"
    [navigation]="true"
    [pagination]="{ clickable: true }"
    >
    <ng-template *ngFor="let film of films" swiperSlide>
      <a class="a-box" href="">
        <img class="box-img" src={{film.img}} alt="">
        <div class="card">
              <i class="fa-regular fa-circle-play"></i>
              <i class="fa-solid fa-circle-plus"></i>
              <i class="fa-regular fa-thumbs-up"></i>
              <p>"{{film.original_title}}"</p>
            </div>
          </a>
        </ng-template>
    </swiper>
  </div>
      
    <div class="my-list">
      <P id="myList">Trending Now</P>
    <swiper
    [slidesPerView]="5"
    [spaceBetween]="0"
    (swiper)="onSwiper($event)"
    (slideChange)="onSlideChange()"
    [navigation]="true"
    [pagination]="{ clickable: true }"
    >
    <ng-template *ngFor="let film of films" swiperSlide>
      <a class="a-box" href="">
        <img class="box-img" src={{film.img}} alt="">
        <div class="card">
              <i class="fa-regular fa-circle-play"></i>
              <i class="fa-solid fa-circle-plus"></i>
              <i class="fa-regular fa-thumbs-up"></i>
              <p>"{{film.original_title}}"</p>
            </div>
          </a>
        </ng-template>
    </swiper>
    </div>
    
    <P id="tvShows">TV Shows</P>
    <swiper
    [slidesPerView]="5"
    [spaceBetween]="0"
    (swiper)="onSwiper($event)"
    (slideChange)="onSlideChange()"
    [navigation]="true"
    [pagination]="{ clickable: true }"
    >
    <ng-template *ngFor="let film of films" swiperSlide>
      <a class="a-box" href="">
        <img class="box-img" src={{film.img}} alt="">
        <div class="card">
              <i class="fa-regular fa-circle-play"></i>
              <i class="fa-solid fa-circle-plus"></i>
              <i class="fa-regular fa-thumbs-up"></i>
              <p>"{{film.original_title}}"</p>
            </div>
          </a>
        </ng-template>
    </swiper>
    

    <P id="movies">Blockbuster Action & Adventure</P>
    <swiper
    [slidesPerView]="5"
    [spaceBetween]="0"
    (swiper)="onSwiper($event)"
    (slideChange)="onSlideChange()"
    [navigation]="true"
    [pagination]="{ clickable: true }"
    >
    <ng-template *ngFor="let film of films" swiperSlide>
      <a class="a-box" href="">
        <img class="box-img" src={{film.img}} alt="">
        <div class="card">
              <i class="fa-regular fa-circle-play"></i>
              <i class="fa-solid fa-circle-plus"></i>
              <i class="fa-regular fa-thumbs-up"></i>
              <p>"{{film.original_title}}"</p>
            </div>
          </a>
        </ng-template>
    </swiper>

    <P id="originals">Netflix Originals</P>
    <swiper
    [slidesPerView]="5"
    [spaceBetween]="0"
    (swiper)="onSwiper($event)"
    (slideChange)="onSlideChange()"
    [navigation]="true"
    [pagination]="{ clickable: true }"
    >
    <ng-template *ngFor="let film of films" swiperSlide>
      <a class="a-box" href="">
        <img class="box-img" src={{film.img}} alt="">
        <div class="card">
              <i class="fa-regular fa-circle-play"></i>
              <i class="fa-solid fa-circle-plus"></i>
              <i class="fa-regular fa-thumbs-up"></i>
              <p>"{{film.original_title}}"</p>
            </div>
          </a>
        </ng-template>
    </swiper>
   