/* @import 'swiper/css';
@import 'swiper/css/navigation';
@import 'swiper/css/pagination'; */
@import '~swiper/swiper-bundle.min.css';
.background-img {
  height: 720px;
  background-image: url('../../../../assets/movie-screen-background.webp');
}
.overlay {
  background: rgba(0, 0, 0, 0.4);
  background-image: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.8) 0,
    transparent 60%,
    rgba(0, 0, 0, 0.8)
  );
  height: 100%;
}
.main-top-movies {
  /* position: absolute; */
  padding: 68px 68px 30px 58px;
  display: flex;
  align-items: center;
  height: calc(720px - -1027px);
  /* overflow: hidden; */
}
/* .top-movies {
  position: relative; 
  overflow: hidden;
} */
.swiper {
  overflow: hidden;
  padding-bottom: 20px;
  padding-top: 20px;
}
.swiper-button-next {
  padding-left: 50px;
  right: 10px;
  left: auto;
  top: 57px;
  width: 130px;
  height: 140px;
}
.swiper-button-prev {
  height: 140px;
  left: 0;
  right: 0;
  top: 57px;
  width: 115px;
  padding-right: 0px;
}
.swiper-pagination-bullet {
  display: none;
}
.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
  content: 'next';
  color: gray;
}
.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
  content: 'prev';
  color: gray;
}
.swiper-slide {
  /* position:; */
  position: static;
  width: 235px !important;
}
p {
  margin-bottom: 0 !important;
  padding-top: 20px;
  color: #fff;
}
.wrapper {
  margin: 0;
  padding: 0;
}

/* MAIN CONTIANER */
/* .main-container {
    padding-top: 50px;
    padding-left: 50px;
    padding-bottom: 50px;
    background-color: #141414;
    border-bottom: 8px solid #222;
    color: #fff;
  } */
.card {
  /* height: 200px; */
  /* overflow: hidden; */
  border: none;
  background: transparent;
}
.card .card-body {
  display: none;
  background: #141414;
}
.card .card-img-top {
  width: 130px;
  height: 200px;
}
.card:hover {
  /* height: auto; */
  /* overflow: auto; */
  transform: scale(1.2);
  transition: 0.5s;
  z-index: 9 !important;
  background: black;
}
.card:hover .card-body {
  display: block;
}
.card:hover .card-img-top {
  width: 303px;
  height: 202px;
}
.card .number-img {
  height: 200px;
}
.card:hover .number-img {
  display: none;
}
.card-body i {
  color: #f3f3f3;
  padding-right: 5px;
  font-size: x-large;
  padding-top: 10px;
  cursor: pointer;
}
.card-body i:first-child {
  padding-left: 10px;
}
.card-body i {
  padding-left: 5px;
  color: gray;
}
.card-body p {
  color: #f3f3f3;
  font-size: x-small;
  padding-left: 12px;
  padding-top: 5px;
}
.second-child {
  padding: 510px 0px 30px 68px;
}
.second-card {
  width: 220px;
}
.second-card:hover {
  /* height: auto; */
  /* overflow: auto; */
  transform: scale(1.4);
  transition: 0.5s;
  z-index: 9 !important;
  background: black;
}
.second-card-img {
    width: 232px;
    height: 131px;
}
.card:hover .card-img {
  width: 403px;
  height: 220px;
}
.modal-content {
  background-image: url();
  background: #141414;
}
.modal-body {
  height: auto;
  padding: 0;
}
.modal-background-img {
  background-size: cover;
  background-repeat: no-repeat;
  height: 400px;
}
.modal-overlay {
  background: rgba(0, 0, 0, 0.4);
  background-image: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.8) 0,
    transparent 60%,
    rgba(0, 0, 0, 0.8)
  );
  height: 100% !important;
}
/* LINKS */
.link {
  padding: 50px;
}

.sub-links ul {
  list-style: none;
  padding: 0;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(4, 1fr);
}

.sub-links a {
  color: var(--dark);
  text-decoration: none;
}

.sub-links a:hover {
  color: var(--dark);
  text-decoration: underline;
}

.logos a {
  padding: 10px;
}

.logo {
  color: var(--dark);
}

/* /////////////////////////////////////////////////////////// carousel css ////////////////////////////////////////// */
.carousel {
  display: flex;
  overflow-x: auto;
}
.slide {
  width: 200px;
  height: 300px;
}
.slide img {
  width: inherit;
  height: inherit;
}
.slick-prev {
  height: 45px !important;
  width: 40px !important;
  background: gray !important;
  z-index: 100 !important;
}
.slick-next {
  height: 45px !important;
  width: 40px !important;
  background: gray !important;
  z-index: 100 !important;
}

/* MEDIA QUERIES */

@media (max-width: 900px) {
  header {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      'nt nt nt  .  .  . sb . . . '
      'mn mn mn mn mn mn  mn mn mn mn';
  }

  .a-box {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(4, minmax(100px, 1fr));
  }
}

@media (max-width: 700px) {
  header {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      'nt nt nt  .  .  . sb . . . '
      'mn mn mn mn mn mn  mn mn mn mn';
  }

  .a-box {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, minmax(100px, 1fr));
  }

  .sub-links ul {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 500px) {
  .wrapper {
    font-size: 15px;
  }

  header {
    margin: 0;
    padding: 20px 0 0 0;
    position: static;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas:
      'nt'
      'mn'
      'sb';
    text-align: center;
  }

  .netflixLogo {
    max-width: 100%;
    margin: auto;
    padding-right: 20px;
  }

  .main-nav {
    display: grid;
    grid-gap: 0px;
    grid-template-columns: repeat(1, 1fr);
    text-align: center;
  }
  .a-box {
    display: grid;
    /* grid-gap: 20px; */
    grid-template-columns: repeat(1, 1fr);
    text-align: center;
  }

  /* .box a:hover {
      transition: transform .3s;
      -ms-transform: scale(1);
      -webkit-transform: scale(1);  
      transform: scale(1.2);
    }
   */
  .logos {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
  }

  .sub-links ul {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(1, 1fr);
    text-align: center;
    font-size: 15px;
  }
}
